<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
       소켓 테스트
    </h1>
    <div id="content">

    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        let recInterval = null;
        let sockJs = null;
        let new_conn = function() {
            sockJs = new SockJS('http://localhost:8081/connect-websocket', null, {
                'protocols_whitelist': ['websocket', 'xdr-streaming', 'xhr-streaming', 'iframe-eventsource', 'iframe-htmlfile', 'xdr-polling', 'xhr-polling', 'iframe-xhr-polling', 'jsonp-polling']
            });

            //1. SockJS를 내부에 들고있는 stomp를 내어줌
            let stompClient = Stomp.over(sockJs);

            //2. connection이 맺어지면 실행
            let roomId = 'c7fa4996-4058-45b2-8dc3-4fac84ef90fd';
            stompClient.connect({}, function (frame) {
                console.log("STOMP Connection : " + frame)
                clearInterval(recInterval);
                stompClient.subscribe(`/topic/chat/room/${roomId}`, function (data) {
                    console.log(data);
                });

                let value = Math.floor(Math.random() * 100)
                stompClient.send('/app/chat/room/message', {}, JSON.stringify({roomId: roomId, message: value}));
            });

            sockJs.onclose = function () {
                // if (recInterval == null) {
                //     recInterval = setInterval(function () {
                //         new_conn();
                //     }, 2000)
                // }
                new_conn();
            }
        }

        new_conn();
    });
</script>